/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
//Max Width of Page
.site-content, .main-navigation, .container-footer, .copyright{
	max-width: $res__max;
	margin: 0 auto;
}

.site-header{
	display:flex;
	justify-content: center;
	padding-bottom: 3rem;
}

/* Comments Displayed */
.comment {
	.comment-body{
		display: flex;
	}
	.comment-author-avatar{
		padding-right: $base__space-unit;
	}
	.fn{
		font-weight: 700;
		font-style: normal;
	}
	time {
		color: $color__brand-grey-light;
	}
	.comment-body{
		border-bottom: $border__width solid $border__color-solid;
		padding: $base__space-unit;
	}
}
.comment, .comment-respond{
	a {
		color: $color__brand-green;
		&:hover{
			color: $color__brand-green-dark;
		}
	}
}

/* Comment Form */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
.comment-reply-title{
	margin-top: $base__space-unit/2;
}
.comments-area{
	margin-right: $base__space-unit;
	h3{
		font-size: 1.8rem;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
	.comment-form{
		label {
			font-family: "novecentosanswide";
			font-size: 1.1rem;
			text-transform: uppercase;
		}
		textarea, input{
			background-color: #f4f4f4;
			border: $border__width solid $border__color-solid;
		}
		.required{
			color: $color__brand-orange;
		}
	}
	.comment-form-author, .comment-form-email{
		display: inline-block;
		label{
			display: block;
		}
		input{
			width: 100%;
		}
		margin: 0;
		padding: 0;
		width: 49.2%;
	}
	.comment-form-author{
		margin-right: 0.5%;
	}
	.comment-form-url{
		input{
			width: 100%;
		}
	}
}
/* Social Media Buttons */
.social-buttons{
	.blk-btn{
		background-color: white;
		border-radius: 0;
		bottom: 2*$base__space-unit;
		box-shadow: none;
		display: inline-block;
		left: 0;
		padding: $base__space-unit/2 $base__space-unit;
		width: auto;
		&:hover{
			background-color: $color__brand-green;
		}
		i{
			 margin-right: 10px;
		}
	}
}


/* Posts and pages */
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}