/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
.blk-btn {
	align-items: center;
	bottom: $base__space-unit/2;
	color: black;
	display: flex;
	font-size: .9rem;
	font-family: 'novecentosanswide';
	height: 2.5rem;
	justify-content: center;
	text-transform: uppercase;
	position: absolute;
	left: $base__space-unit/2;
	padding: $base__space-unit/2 $base__space-unit/2;
	border: $border__width solid black;
	width: 9rem;
	&:hover{
		background-color: $color__brand-green;
		color: white;
	}
}

.blog, .single-post, .tax-product-type, .archive, .category {
	.blk-btn{
		position: relative;
		color: black;
		}
	.blk-btn:hover{
		color:white;
	}
}

.grn-btn, .comment-form .form-submit .submit{
  background-color: $color__brand-green;
	box-shadow: none;
  color: white;
	font-family: 'novecentosanswide';
  font-size: 1rem;
  font-weight: 400;
  padding: $base__space-unit/4 $base__space-unit;
	text-shadow: none;
  &:hover{
    background-color: $color__brand-green-dark;
  }
}
.comment-form .form-submit .submit{
	margin-bottom: 2*$base__space-unit;
	padding: $base__space-unit/2 $base__space-unit;
}

html {
	box-sizing: border-box;
	@include font-size(1);
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: $base__space-unit;
}

ul, ol {
	margin: 0 0 $base__space-unit ($base__space-unit * 2);
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: $base__space-unit;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base__space-unit $base__space-unit;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 $base__space-unit;
	width: 100%;
}