//Front Page SCSS
.home {
  //Links and Nav
  a{
	color: white;
		&:visited{
			color: white;
		}
	}
  .blk-btn{
    a{
      color: black;
      &:hover{
        color: white;
      }
    }
  }
	.main-navigation {
		position: absolute;
	}
	.site-content{
    display: block;
		padding-top: 0;
	}
  .site-branding {
    display: none;
  }

  //Hero Section
  .hero {
    align-items: center;
    display: flex;
    justify-content: center;

    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0%, rgba(0, 0, 0, .25) 100%), url("../../images/home-hero.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    .logo-full {
      background-image: url("../../images/logos/inhabitent-logo-full.svg");
      width: 275px;
      height: 275px;
    }
  }

  //Section Setup: Headings and Containers
  h4{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: $base__space-unit/2 0;
    text-align: center;
    text-transform: uppercase;
  }
  .container {
    display: flex;
  }

  //The Shop Section
  .single-product-type{
    display:flex;
    flex-direction:column;
    img {
      height: 75px;
      width: 75px;
    }
  }

  //The Inhabitent Journal Section
  .latest-entries{
    display:flex;
    flex-direction: row;
    justify-content: center;
    .image-container{
      background-position: center;
      background-size: cover;
      height: 250px;
    }
    .single-journal {
      border: $border__width solid $border__color-solid;
      display: flex;
      flex-direction:column;
      font-size: 0.75rem;
      margin: 0 $base__space-unit/2;
      position: relative;
      width: 30%;
      p{
        margin-left: $base__space-unit/2;
        margin-bottom: $base__space-unit/2;
      }
      h2{
        color: $color__brand-green;
        font-size: 1.4rem;
        line-height: 1.5rem;
        margin-top: 0;
        margin-left: $base__space-unit/2;
        padding-bottom: 3rem;
        text-transform: uppercase;
      }
    }

    //The Adventures Section
  }
}
