/* Nav Bar is in _navigation.scss*/
.site-content { //for nav bar
  padding-top: 3rem;
}
.main-navigation {
	border-bottom: $border__width solid $border__color-solid;
}



//Invisible accessible menu toggle that becomes visible on focus
.menu-toggle{
  position: absolute;
  top: -100px;
  &:focus{
    top: 0;
  }
}
/* Links */
a {
	color: $color__link;
	text-decoration: none;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}