/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

//Div-wrap and flex nav bar
//JavaScript Nav bar
//content-product-small dot leader styling

//Green tent and Green Nav Bar
.main-navigation{
	border-bottom: $border__width solid $border__color-solid;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, .85) 0%, rgba(255,255,255, .85) 100%);
	position: fixed;
	z-index: 10;
	.logo-tent {
		background-size: contain; 
		height: 35px;
		margin: 0.35rem;
		width: 50px;
		background-image: url("../../images/logos/inhabitent-logo-tent.svg");
	}
	a{
		color: $color__brand-green;
		&:visited {
			color: $color__brand-green;
		}
	}
}

//White Nav Bar
.home, .page-template-page-about{
	.main-navigation{
		border-bottom: 0;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255,255,255, 0) 100%);
		position: relative;
	}
	.logo-tent { //White Logo and Bar
		background-image: url("../../images/logos/inhabitent-logo-tent-white.svg");
	}
	.menu-main-menu-container {
		a{
			color:white;
		}
	}
	.open-the-search-form {
	color: white;
	}
}

//Pop-out Search Bar
fieldset{
  border: 0;
}
.search-field{
	display:none;
	overflow: hidden;
	transition: all 0.2s;
	width: 0;
}
.search-field:focus{
	width: 200px;
	transition: all 0.2s;
}

/* General Navigation Menu Styles */
.main-navigation {
	display: flex;
	margin-left: auto;
	justify-content: space-between;
	height: 3rem;
	width: 100%;
	.menu-main-menu-container {
		display: flex;
		align-items: center;
	}
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		justify-content: space-around;
		li {
			margin: 0 $base__space-unit/2;
			font-family: 'novecentosanswide';
			text-transform: uppercase;
		}
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: fixed;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
			width: 50%;
	}
}
