	//About Page
.page-template-page-about {
  .entry-header{
    display: block;
    height: 100vh;
    margin: 0;
    .entry-title{
      background: none;
      font-size: 3rem;
      text-align: center;
      margin-top: 45vh;
      width: 100%;
    }
  }
  .entry-content{
    margin: 2*$base__space-unit auto;
    max-width: $res__max;
    h2{
      color: $color__brand-purple;
      letter-spacing: 2px;
      font-size: 2.25rem;
      text-align: center;
      text-transform: uppercase;
      margin: 0;
    }
  }
}
//404 Page
.error404{
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    list-style: none;
  }
  h1{
    font-size: 2.4rem;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-top: 0.67rem;
    text-transform: uppercase;
  }
  h2{
    text-transform: uppercase;
  }
  .page-content{
    margin-bottom: 4*$base__space-unit;
    a {
      color: $color__brand-green;
      &:hover{
        color: $color__brand-green-dark;
      }
    }
    i{
      display:none;
    }
    .search-field{
      background: $color__background-search;
      display: inline-block;
      font-family: 'merriweather';
      text-transform: lowercase;
      padding: 0.3rem;
      width: 15rem;
    }    
  }
}
.page-id-8{
  header{
    height: 3rem;
  }
  .site-content{
    padding-top: 0;
  }
  .widget-area{
    padding-top: $base__space-unit;
  }
  .entry-header{
    margin-top: 2*$base__space-unit;
    overflow: visible;
    .entry-title{
      background: none;
      color: $color__text-main;
      font-size: 2.5rem;
      line-height: 1.25rem;
      margin-top: $base__space-unit;
      padding: 0;
      top:0;
    }
  }
  .our-map{
    height: 310px;
    margin-top: $base__space-unit;
  }
  .entry-content{
    h2 {
      color: $color__brand-purple;
      font-size: 2.1rem;
      margin: $base__space-unit/4 0;
      text-transform: uppercase;
    }
  }

  //Style Contact Form
  .wpcf7-form-control{
    background: $color__background-search;
    border-color: $border__color-solid;
    border-radius: 0;
  }
  .required{
    color: $color__brand-orange;
  }
  .wpcf7-form label{
    font-family: 'novecentosanswide';
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
  }
  .wpcf7-submit{
    line-height: 1.5rem;
    margin-bottom: 4*$base__space-unit;
    padding: $base__space-unit/2 $base__space-unit;
  }
}

//Search Page
.search{
  .page-title {
    border-bottom: $border__width solid $border__color-solid;
    font-size: 2.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 3rem;
    text-transform: uppercase;
  }
  .entry-header{
    height: 3rem;
  }
  .entry-title{
    background: none;
    margin: 0;
    padding: 0;
    a{
      color: $color__brand-green;
      font-size: 2.25rem;
      line-height: 1.25rem;
      &:hover{
        color: $color__brand-purple;
      }
    }
  }
  .entry-summary{
    a{
      color: black;
    }
  }
  .blk-btn{
    position: relative;
  }
  main{
    padding-bottom: 4*$base__space-unit;
  }
}
