.archive-product{
  .product-gallery {
    display:flex;
    .product-panel{
      display: flex;
      flex-direction: column;
      width: 20%;
    }
  }
}

//Single-Product
.dots { 
  background: url('dot.gif') repeat-x bottom; 
}