.post-type-archive-product{
  h1{
    font-size: 2.5rem;
    padding-top: 0.50rem;
    text-align: center;
    text-transform: uppercase;
  }

  //Product Types Nav Bar
  h3{
    font-size: 1.2rem;
    font-weight: 400;  
    margin: 0 $base__space-unit;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }
}
.product-types{
  display:flex;
  border-bottom: $border__width dashed $border__color-dashed;
  justify-content:center;
  list-style: none;
  padding-bottom: 1.5*$base__space-unit;
  padding-left: 0;
  margin-left: 0;
  .list-product-type{
    a{
      color: $color__brand-green;
    }
  }
}
//Product Gallery Grid
.product-gallery {
    display:flex;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    .entry-content{
      margin: $base__space-unit/2;
      width: 22%;
      min-width: 200px;
    }
}
//Product Small Single
.product-image{
  border: $border__width solid $border__color-solid;
  border-bottom-width: 5px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
}
.product-meta{
  border: $border__width solid $border__color-solid;
}

    //Dot Leaders
  .dots{
    white-space: nowrap;
    overflow: hidden;
  }
  .dots:after{
    content: "........................";
  }
