//Establish column layout with Flexbox
.site-content{
  display: flex;
}
.content-area{
  flex: 3 1 0;
  min-width: 450px;
}

//Style sidebar
.widget-area{
  flex: 1 3 0;
  min-width: 300px;
  max-width: 300px;
  border-left: $border__width solid $border__color-solid;
  margin: 0 0 0 $base__space-unit;
  padding: $base__space-unit 0 $base__space-unit 2*$base__space-unit;
  aside{
    h2{
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
  a {
    color: $color__brand-green;
    &:hover{
      color: midnightblue;
    }
  }
  i.fa {
    width: 25px;
  }
  .meta-address{
    display: flex;
  }
  .fa-map-marker {
    min-width: 25px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}