//Single Journal Post (.single-post) only; see _home.scss for journal landing page styles

.type-post{
  position: relative;
}
.entry-header{
  background-size: cover;
  background-position: center;
  height: 525px;
  margin-top: 2*$base__space-unit;
  margin-right: $base__space-unit;
  overflow: hidden;
  position: relative;
  .entry-meta, .entry-title{
    color: white;
    background-color: $color__brand-green;
    position: absolute;
    text-transform: uppercase;
    line-height: 1.75*$base__space-unit;
  }
  .entry-title {
    font-size: 2.1rem;
    padding: $base__space-unit/2 $base__space-unit;
    top: $base__space-unit;
    width: 70%;
  }
  .entry-meta {
    bottom: 0;
    right: 0;
    text-align: center;
    width: 350px;
  }
}