/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
//Style Site-Footer, Sidebar/Widgetized Area 2
.container-footer{
	display: flex;
	flex-wrap: wrap;
	padding-top: 3rem;
	img{
		max-width: 225px;
		margin: 0 auto;
	}
	aside.widget{
		padding-right: $base__space-unit;
		// padding-left: $base__space-unit;
		flex: 1 1 0;
		min-width: 225px;
	}
	p{
		color: white;
	}
	a{
		color: white;
		&:hover{
			text-decoration: underline;
		}
	}
	i{
	font-size: 1.2rem;
	width: 25px;
	}
}

.site-footer{
	background-image: url("../../images/dark-wood.png");
	background-size: cover;
	.container-footer{
		h3 {
			color: $color__brand-orange;
			font-size: 1.1rem;
			letter-spacing: 2px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.copyright {
	color: white;
	font-family: 'novecentosanswide';
	padding: $base__space-unit;
	text-align: center;
	text-transform: uppercase;
}

.widget {
	margin: 0 0 $base__space-unit;

/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

//Style Business Widget
.days-of-week {
	font-weight: 700;
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
